nav.navbar {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(214, 236, 252);
}


ul.dropdown-menu {
    font-family: cursive;
}



div.offcanvas-body {
    font-family: cursive;
}

.nav-link.active {
    background-color: rgb(124, 142, 155) !important;
}
